$color1:#aeaeae;
$left:left;
$common: 20px;
body {
	width: 100%;
}
.login {
	width: 60%;
	border-collapse: collapse;
	empty-cells: show;
	table-layout: auto;
	$color2: red !global;
	margin-left: 20%;
	td {
		border: 3px solid black;
		height: 50px;
		text-align: center;
		background-color: $color1;
	}
	caption {
		border: 12px solid $color2; 
		border-bottom: none;
	}
}