body {
  width: 100%;
  position: relative; }
  body header {
    width: 100%;
    line-height: 0.9rem;
    font-size: 0.34rem;
    color: #fff;
    text-align: center;
    background-color: #c32e2e;
    position: relative; }
    body header span {
      position: absolute;
      top: 0.28rem;
      left: 0.2rem;
      width: 0.22rem;
      height: 0.38rem;
      background: url(../images/ipicon.png) no-repeat 0px 0px/0.54rem 0.36rem; }
  body section {
    padding: 0 0.2rem; }
    body section .project {
      width: 100%;
      line-height: 0.88rem;
      border-bottom: 1px solid #e6e6e6; }
      body section .project .title {
        float: left;
        font-size: 0.3rem;
        color: #000; }
      body section .project .modify {
        float: right;
        width: 0.35rem;
        height: 0.35rem;
        margin-top: 0.22rem;
        background: url(../images/ipicon.png) no-repeat top right/0.54rem 0.36rem; }
